parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
    tmpDir: .phpstan
    reportUnmatchedIgnoredErrors: true
    # checkOctaneCompatibility: true
    # checkModelProperties: true
