includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - tests
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
    tmpDir: .phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\).#'
            path: app/Http/Controllers/**/*.php
        -
            message: '#Dynamic call to static method Illuminate\\Testing\\TestResponse<Symfony\\Component\\HttpFoundation\\Response>::assertInertia\(\).#'
            path: tests/**/*.php
        -
            message: "#Casting to string something that's already string.#"
            path: tests/Feature/Auth/EmailVerificationTest.php
        -
            message: '#Method App\\Http\\Requests\\[a-zA-Z]+\\[a-zA-Z]+::authorize\(\) never returns false so the return type can be changed to true.#'
            path: app/Http/Requests/**/*.php
