name: Fix code style issues

on:
  push:
    branches:
      - feature/golden-path
    paths:
      - '**.php'
      - '**.tsx'
      - '**.ts'

permissions:
  contents: write

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Fix PHP code style issues
        uses: aglipanci/laravel-pint-action@2.5

      - name: Fix JS code style issues
        run: npm run check

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fix styling
