name: Run linters

on:
  push:
    branches:
      - main
      - template/kitchen-sink
  pull_request:
    branches:
      - main
      - template/kitchen-sink

permissions:
  contents: write

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Generate types
        run: composer generate:types

      - name: Lint frontend code
        run: npm run ci

      - name: Lint backend code
        run: composer ci

      # - name: Commit Changes
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: fix code style
      #     commit_options: '--no-verify'
